.carousel_data{
	display: none;

}
.my_carousel {
 position: relative; 
 width: 760px; 
 margin: 0px; 
 background-color: #fff; 
 margin: 30px auto 20px auto; 
}

.carousel_container {
 height: 340px; 
 margin: 0px; 
/* background: url(../images/background.jpg) no-repeat 0px 0px; */
}

.caption_container {
 width: 435px; 
 border-left: 3px solid #713e1b; 
 margin: 0px 0px 0px 165px;
 padding: 0px 0px 0px 20px;
  }

  #carousel {
   margin: 0px auto 0px auto; 
   width: 600px; height: 300px;
    }

    #carousel img { 
    	width: 300px; 
    	height: 70px; 
    	cursor: pointer; 
    }
#captions{

}
.nextItem { 
	position: absolute; 
	top: 230px; 
	left: 0px; 
	z-index: 1001; 
	cursor: pointer;
	 }
.previousItem { 
	position: absolute; 
	top: 230px; 
	right: 0px; 
	z-index: 1001; 
	cursor: pointer;
	 }

	 .leaves {
	  position: absolute; 
	  top: 270px; 
	  left: 102px; 
	  z-index: 1000; 
	}
